
html{font-size:10px;} /*전체 프로젝트에 적용되는 기준 폰트로서 1rem값임*/
.container {
  width: 100vw;
}
/* .container {
  display: flex;
  justify-content: center;
} */
.text-align-center {
  text-align: center
}
.text-align-right {
  text-align: right
}
.justify-content-center {
  justify-content: center
}
.justify-content-flex-end {
  justify-content: flex-end
}
.font-color {
  color: #FF6C03
}
.background-F9F9F9 {
  background-color: #F9F9F9
}
.background-yellow {
  background-color: yellow
}
.background-blue {
  background-color: blue
}
.font-white {
  color: white;
}
.weight-700 {
  font-weight: 700;
}
.display-flex {
  display: flex
}
.align-content-center {
  flex-wrap: wrap;
  align-content: center
}
.centered { display: table; margin-left: auto; margin-right: auto; }